<div class="container">
  <h1>Quotes Hub </h1>
  <div class="row">
    <div class="col-md-6">
    <div *ngFor='let quote of quotes;let i = index'>
      <div>
        <h2>{{quote.name}} created on {{quote.creationDate|date}}</h2>
        <button (click)='toggleDetails(i)' class="btn btn-primary btn-sm">Toggle Details</button>
      </div>
      <div *ngIf='quote.showDescription'>
      <app-quote-detail  [quote]='quote' (isRead) ='deleteQuote($event,i)'></app-quote-detail>
    </div>
  </div>
</div>
</div>
</div>

    
 
